
@{
    ViewBag.Title = "AdminUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model CvProject.Models.Entity.admin
<h2>AdminUpdate</h2>


<form action="/Admin/AdminUpdate" method="post">


    <p>kullaniciadi: </p>
    <input type="text" class="form-control" name="kullaniciadi" value=@Model.kullaniciadi required />

    <p>sifre: </p>
    <input type="text" class="form-control" name="sifre" value=@Model.sifre required />



    <button type="submit" class=" btn btn-primary">update</button>
</form>

