
@{
    ViewBag.Title = "HakkimdaUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model CvProject.Models.Entity.Hakkimda
<h2>HakkimdaUpdate</h2>



<form action="/Admin/HakkimdaUpdate" method="post">


    <p>ad: </p>
    <input type="text" class="form-control" name="ad" value=@Model.ad required />

    <p>soyad: </p>
    <input type="text" class="form-control" name="soyad" value=@Model.soyad required />

    <p>adres: </p>
    <input type="text" class="form-control" name="adres" value=@Model.adres required />

    <p>mail: </p>
    <input type="text" class="form-control" name="mail" value=@Model.mail required />
    <p>id: </p>


    <p>aciklama: </p>
    <textarea name="aciklama" rows="10" cols="100" value=@Model.aciklama> </textarea>

    <button type="submit" class=" btn btn-primary">update</button>
</form>


