




<form method="post">

    <div class="row">
        <div class="form-group col-md-6 m-4">
            <label for="name">Ad Soyad</label>
            <input type="text" name="kimden" class="form-control" id="name" required>
        </div>

        <div class="form-group col-md-6 m-4">
            <label for="name">Mail Adresiniz</label>
            <input type="email" class="form-control" name="mail" id="email" required>
        </div>

    </div>

        <div class="form-group m-4">
            <label for="name">Konu</label>
            <input type="text" class="form-control" name="konu" id="subject" required>
        </div>
        <div class="form-group m-4">
            <label for="name">Mesajınız</label>
            <textarea class="form-control" name="mesaj" rows="10" required></textarea>
        </div>

        <div class="text-center"><button type="submit" class="btn btn-primary m-4">Gönder</button></div>

</form>
