@using CvProject.Models.Entity
@model  List<Sertifikalar>




@foreach (var x in Model)
{

    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
        <div class="icon"><i class="bi bi-briefcase"></i></div>
       
        <p class="description">    <a href=@x.link>@x.aciklama</a></p>
    </div>



}
